@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    @foreach (Contact contact in ViewBag.contacts)
{
    <div>
        @contact.Nom @contact.Prenom @contact.Telephone
    </div>
}

